---
import HowCanWeHelpYou from "../components/HowCanWeHelpYou.vue";
import HomepageBanner from "../components/HomepageBanner.vue";
import WhatDoWeDo from "../components/WhatDoWeDo.vue";
import Layout from "../layouts/Page.astro";

const response = await fetch('https://homepage-data.hryschiller.workers.dev/');
const homepageData = await response.json()
---

<Layout>
  <main>
    <HomepageBanner data={{ banner: homepageData.banner, subBanner: homepageData.subBanner }} />
    <HowCanWeHelpYou data={{ howCanWeHelpYou: homepageData.howCanWeHelpYou }} />
    <WhatDoWeDo data={{ whatDoWeDo: homepageData.whatDoWeDo }} />
  </main>
</Layout>
