---
import HowCanWeHelpYou from "../components/HowCanWeHelpYou.vue";
import HomepageBanner from "../components/HomepageBanner.vue";
import WhatDoWeDo from "../components/WhatDoWeDo.vue";
import Layout from "../layouts/Page.astro";
---

<Layout>
  <main>
    <HomepageBanner />
    <HowCanWeHelpYou />
    <WhatDoWeDo />
  </main>
</Layout>
